/* Resetarea stilurilor browserului implicit */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background: linear-gradient(to right, #009fff, #ec2f4b);
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #ec2f4b;
    transition: color 0.3s ease-in-out;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #222;
    color: #fff;
}

footer p {
    margin: 0;
}


.login-section {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.login-section h1 {
    text-align: center;
    color: #333;
}


.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #009fff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #007acc;
}


.register-section {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.register-section h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #009fff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #007acc;
}

.event-item {
    display: inline-block;
    width: calc(33.33% - 20px);
    margin: 10px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.event-item h3 {
    color: #007bff; /* Culoare pentru numele evenimentului */
    margin-bottom: 10px;
}

.event-item p {
    margin-bottom: 5px;
}

.hidden { 
    display: none;
}
.visible { 
    display: block; 
}

/* Stiluri pentru dropdown-ul profilului */

.profile-dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background: none;
    color: white; /* ajustează culoarea conform temei tale */
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.profile-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.profile-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.profile-dropdown-content a:hover {
    background-color: #ddd;
}


/* Transformare CSS 2D pentru logo */
#logo {
    transition: transform 0.3s ease-in-out;
}

#logo:hover {
    transform: scale(1.5);
}
